 
./cpp-qt-widgets/.gitignore
*/build/
*/dist/
*/moc/
*/rcc/
*/ui/ 
*/bin/
*/gen/*

*/nbproject/*.mk 
*/nbproject/private/*.mk 
*/nbproject/*.pro 
*/nbproject/private/*.pro
                          
**.pre


*/target/
*/.classpath
*/.project
*/.tern-project
