nbproject/*
.metadata*
.recommenders/*

./cpp-qt-widgets/.gitignore
*/build/
*/dist/
*/moc/
*/rcc/
*/ui/
*/bin/
*/gen/*

**/nbproject/*.mk
**/nbproject/private/*.mk
**/nbproject/*.pro
**/nbproject/private/*.pro
**/nbproject/private/private.xml

**.pre


*/target/
*/.classpath
*/.project
*/.tern-project

.ipynb_checkpoints